{% extends 'base.html' %}

{% block main %}
    <main class="hotels-main width-container">
      <h1 class="visually-hidden">Выбор гостиницы в Седоне</h1>
      <section class="parameters-form">
        <h2 class="visually-hidden">Фильтр параметров поиска</h2>
        <form class="filter" method="get" action="#">
          <fieldset class="filter-item">
            <legend>Инфраструктура:</legend>
              <ul>
                <li class="filter-checkbox">
                  <input class="visually-hidden filter-input-checkbox filter-input" type="checkbox" name="pool" id="filter-pool" checked>
                  <label for="filter-pool">Бассейн</label>
                </li>
                <li class="filter-checkbox">
                  <input class="visually-hidden filter-input-checkbox filter-input" type="checkbox" name="parking" id="filter-parking">
                  <label for="filter-parking">Парковка</label>
                </li>
                <li class="filter-checkbox">
                  <input class="visually-hidden filter-input-checkbox filter-input" type="checkbox" name="wi-fi" id="filter-wi-fi">
                  <label for="filter-wi-fi">wi-fi</label>
                </li>
              </ul>
          </fieldset>
          <fieldset class="filter-item">
            <legend>Тип жилья:</legend>
              <ul>
                <li class="filter-checkbox">
                  <input class="visually-hidden filter-input-checkbox filter-input" type="checkbox" name="hotel" id="filter-hotel" checked>
                  <label for="filter-hotel">Гостиница</label>
                </li>
                <li class="filter-checkbox">
                  <input class="visually-hidden filter-input-checkbox filter-input" type="checkbox" name="motel" id="filter-motel" checked>
                  <label for="filter-motel">Мотель</label>
                </li>
                <li class="filter-checkbox">
                  <input class="visually-hidden filter-input-checkbox filter-input" type="checkbox" name="apartments" id="filter-apartments" checked>
                  <label for="filter-apartments">Апартаменты</label>
                </li>
              </ul>
          </fieldset>
          <fieldset class="filter-item">
            <legend>Стоимость в сутки (р):</legend>
              <div class="range-filter">
                <div class="price-controls">
                  <label class="min-price" aria-label="введите минимальное значение">
                     <input type="text" name="min-price" placeholder="от 0">
                  </label>
                  <label class="max-price" aria-label="введите максимальное значение">
                     <input type="text" name="max-price" placeholder="до 3000">
                  </label>
                </div>
              </div>
              <button type="submit" class="button filter-button">Показать</button>
          </fieldset>
        </form>
      </section>

      <section class="search-results">
        <h2 class="visually-hidden">Результаты поиска</h2>
        <div class="results-sort">
          <div class="results-sum">
            <p>Найдено:</p>
            <div class="results-sum-value">3</div>
          </div>
          <div class="sort-controls">
            <h3>Сортировка:</h3>
            <div class="sort-parameters">
              <button onclick="filters(this)" data-parametr-name="ordering" data-parametr-value="price" class="button sort-parameters-button current" type="button">По цене</button>
              <button onclick="filters(this)" data-parametr-name="ordering" data-parametr-value="type" class="button sort-parameters-button" type="button">По типу</button>
              <button onclick="filters(this)" data-parametr-name="ordering" data-parametr-value="rating" class="button sort-parameters-button" type="button">По рейтингу</button>
            </div>
          </div>
        </div>
        <ul class="results-list">
{#        {% for item in object.get_breadcrumbs %}#}
        {% for item in paginated_object_list %}
          <li class="results-item">
            <a class="hotel-photo" href="#">
                {% if item.image %}<img src="{{ item.image.url}}" width="135" height="90" alt="{{ item.description }}" /></a>
                {% else %}<img src="https://dummyimage.com/135x90/" width="135" height="90" alt="{{ item.description }}" />
                {% endif %}
{#              <img src="img/amara-resortspa.jpg" width="135" height="90" alt="Гостиница у подножия красных скал во время заката">#}
            </a>
            <div class="results-description">
              <h3><a class="hotel-name" href="{{ item.get_absolute_url }}">{{ item.title }}</a></h3>
              <div class="hotel-characteristics">
                <p>{{ item.type }}</p>
                <p>От {{ item.price }} Р.</p>
              </div>
              <div class="results-buttons">
                <a class="button button-info" href="{{ item.get_absolute_url }}">Подробнее</a>
                <button class="button button-reserv" type="button" name="reserv">Забронировать</button>
              </div>
            </div>
            <div class="results-rating">
              <span class="visually-hidden">Количество звезд</span>
              <ul class="rating-list">
                  {% with ''|center:item.stars as range %}
                      {% for _ in range %}
                          <li></li>
                      {% endfor %}
                  {% endwith %}
              </ul>
              <p class="rating-value">Рейтинг: {{ item.rating }}</p>
            </div>
          </li>
        {% endfor %}
{#          <li class="results-item">#}
{#            <a class="hotel-photo" href="#">#}
{#              <img src="img/desert-quailinn.jpg" width="135" height="90" alt="Двухэтажный мотель с парковкой для автомобилей">#}
{#            </a>#}
{#            <div class="results-description">#}
{#              <h3><a class="hotel-name" href="blank.html">Desert Quail Inn</a></h3>#}
{#              <div class="hotel-characteristics">#}
{#                <p>Мотель</p>#}
{#                <p>От 3000 Р.</p>#}
{#              </div>#}
{#              <div class="results-buttons">#}
{#                <a class="button button-info" href="blank.html">Подробнее</a>#}
{#                <button class="button button-reserv" type="button" name="reserv">Забронировать</button>#}
{#              </div>#}
{#            </div>#}
{#            <div class="results-rating">#}
{#              <span class="visually-hidden">У отеля три звезды</span>#}
{#              <ul class="rating-list">#}
{#                <li></li>#}
{#                <li></li>#}
{#                <li></li>#}
{#              </ul>#}
{#              <p class="rating-value">Рейтинг: 8,9</p>#}
{#            </div>#}
{#          </li>#}
{##}
{#          <li class="results-item">#}
{#            <a class="hotel-photo" href="#">#}
{#              <img src="img/villas-at-pocodiablo.jpg" width="135" height="90" alt="Одноэтажная вилла с лужайкой и садом">#}
{#            </a>#}
{#            <div class="results-description">#}
{#              <h3><a class="hotel-name" href="blank.html">Villas at Poco Diablo</a></h3>#}
{#              <div class="hotel-characteristics">#}
{#                <p>Апартаменты</p>#}
{#                <p>От 2000 Р.</p>#}
{#              </div>#}
{#              <div class="results-buttons">#}
{#                <a class="button button-info" href="blank.html">Подробнее</a>#}
{#                <button class="button button-reserv" type="button" name="reserv">Забронировать</button>#}
{#              </div>#}
{#            </div>#}
{##}
{#            <div class="results-rating">#}
{#              <span class="visually-hidden">У отеля две звезды</span>#}
{#              <ul class="rating-list">#}
{#                <li></li>#}
{#                <li></li>#}
{#              </ul>#}
{#              <p class="rating-value">Рейтинг: 9,2</p>#}
{#            </div>#}
{#          </li>#}
        </ul>
        <ul class="pagination">
          <li class="pagination-item active">
            <a href="#">
              1
            </a>
          </li>
          <li class="pagination-item">
            <a href="#">
              2
            </a>
          </li>
          <li class="pagination-item">
            <a href="#">
              3
            </a>
          </li>
          <li class="pagination-item">
            <a href="#">
              4
            </a>
          </li>
        </ul>
      </section>
    </main>

    <footer class="page-footer width-container">
      <section class="footer-contacts">
        <h2 class="visually-hidden">Контактная информация</h2>
        <p>#visitsedona</p>
        <p>тел: <a class="footer-phone" href="tel:+74956660166">+7(495) 666-01-66</a></p>
      </section>
{% endblock %}
