{% extends 'base.html' %}

{% block main %}
    <main class="hotels-main width-container">
      <h1 class="visually-hidden">Выбор гостиницы в Седоне</h1>
      <section class="parameters-form">
        <h2 class="visually-hidden">Фильтр параметров поиска</h2>
        <form class="filter" method="get" action="#">
          <fieldset class="filter-item">
            <legend>Инфраструктура:</legend>
              <ul>
                  {% for i in comfort %}
                    <li class="filter-checkbox">
                      <input class="visually-hidden filter-input-checkbox filter-input" type="checkbox" name="{{ i.title }}" id="{{ i.id }}" unchecked>
                      <label for="{{ i.id }}">{{ i.title }}</label>
                    </li>
                  {% endfor %}
              </ul>
          </fieldset>
          <fieldset class="filter-item">
            <legend>Тип жилья:</legend>
              <ul>
                  {% for i in types %}
                      <li class="filter-checkbox">
                          <input class="visually-hidden filter-input-checkbox filter-input" type="checkbox" name="{{ i }}" id="{{ i }}" checked>
                          <label for="{{ i }}">{{ i }}</label>
                      </li>
                  {% endfor %}
              </ul>
          </fieldset>
          <fieldset class="filter-item">
            <legend>Стоимость в сутки (р):</legend>
              <div class="range-filter">
                <div class="price-controls">
                  <label class="min-price" aria-label="введите минимальное значение">
                     <input type="text" name="min-price" placeholder="от 0">
                  </label>
                  <label class="max-price" aria-label="введите максимальное значение">
                     <input type="text" name="max-price" placeholder="до 3000">
                  </label>
                </div>
              </div>
              <button type="submit" class="button filter-button">Показать</button>
          </fieldset>
        </form>
      </section>

      <section class="search-results">
        <h2 class="visually-hidden">Результаты поиска</h2>
        <div class="results-sort">
          <div class="results-sum">
            <p>Найдено:</p>
            <div class="results-sum-value">{{ obj_len }}</div>
          </div>
          <div class="sort-controls">
            <h3>Сортировка:</h3>
            <div class="sort-parameters">
              <button onclick="filters(this)" data-parametr-name="ordering" data-parametr-value="price" class="button sort-parameters-button current" type="button">По цене</button>
              <button onclick="filters(this)" data-parametr-name="ordering" data-parametr-value="type" class="button sort-parameters-button" type="button">По типу</button>
              <button onclick="filters(this)" data-parametr-name="ordering" data-parametr-value="rating" class="button sort-parameters-button" type="button">По рейтингу</button>
            </div>
          </div>
        </div>
        <ul class="results-list">
\        {% for item in paginated_object_list %}
          <li class="results-item">
            <a class="hotel-photo" href="#">
                {% if item.image %}<img src="{{ item.image.url}}" width="135" height="90" alt="{{ item.description }}" /></a>
                {% else %}<img src="https://dummyimage.com/135x90/" width="135" height="90" alt="{{ item.description }}" />
                {% endif %}
            </a>
            <div class="results-description">
              <h3><a class="hotel-name" href="{{ item.get_absolute_url }}">{{ item.title }}</a></h3>
              <div class="hotel-characteristics">
                <p>{{ item.type }}</p>
                <p>От {{ item.price }} Р.</p>
              </div>
              <div class="results-buttons">
                <a class="button button-info" href="{{ item.get_absolute_url }}">Подробнее</a>
                <button class="button button-reserv" type="button" name="reserv">Забронировать</button>
              </div>
            </div>
            <div class="results-rating">
              <span class="visually-hidden">Количество звезд</span>
              <ul class="rating-list">
                  {% with ''|center:item.stars as range %}
                      {% for _ in range %}
                          <li></li>
                      {% endfor %}
                  {% endwith %}
              </ul>
              <p class="rating-value">Рейтинг: {{ item.rating }}</p>
            </div>
          </li>
        {% endfor %}
        </ul>
          {% load url_replace %}


          {% if paginator.page_range|length > 1 %}
              <nav>
                  <ul class="pagination">
                      {% for page_num in paginator.page_range_beauty %}
                          <li class="pagination-item {% if page_num.0 == page %}active{% endif %}">
                              <a class="page-link" href="?{% url_replace request 'page' page_num.0 %}">{{ page_num.1 }}</a>
                          </li>
                      {% endfor %}
                  </ul>
              </nav>
          {% endif %}

      </section>
    </main>

    <footer class="page-footer width-container">
      <section class="footer-contacts">
        <h2 class="visually-hidden">Контактная информация</h2>
        <p>#visitsedona</p>
        <p>тел: <a class="footer-phone" href="tel:+74956660166">+7(495) 666-01-66</a></p>
      </section>
{% endblock %}
